Aula 02 - Importação

In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df_principal = pd.read_excel('acoes.xlsx',sheet_name='Principal')
df_principal

,Ativo,Data,Último (R$),Var. Dia (%),Var. Sem. (%),Var. Mês (%),Var. Ano (%),Var. 12M (%),Val. Mín,Val. Máx,...,Variação $,Resultado,Nome da Empresa,Segmento,Idade,Cat_Idade,Var. Semanal %,Var. Ini. Semanal $,Resultado Sem.,Resultado Sem..1
0,USIM5,2024-01-26,9.50,5.20,11.76,2.26,2.26,15.97,9.18,9.56,...,2.418897e+08,Subiu,Usiminas,Siderurgia,64,Entre 50 e 100 anos,0.1176,8.500358,5.149330e+08,Subiu
1,CMIN3,2024-01-26,6.82,2.40,2.40,-12.11,-12.11,50.56,6.66,6.86,...,1.775160e+08,Subiu,CSN Mineração,Mineração,10,Menos de 50 anos,0.0240,6.660156,1.775160e+08,Subiu
2,PETR3,2024-01-26,41.96,2.19,7.73,7.64,7.64,77.55,40.81,42.34,...,2.140059e+09,Subiu,Petrobras,Petróleo,68,Entre 50 e 100 anos,0.0773,38.949225,7.165276e+09,Subiu
3,SUZB3,2024-01-26,52.91,2.04,2.14,-4.89,-4.89,18.85,51.89,53.17,...,7.229463e+08,Subiu,Suzano,Papel e Celulose,97,Entre 50 e 100 anos,0.0214,51.801449,7.576423e+08,Subiu
4,CPFE3,2024-01-26,37.10,2.03,2.49,-3.66,-3.66,20.70,36.37,37.32,...,1.385740e+08,Subiu,CPFL Energia,Energia,108,Mais de 100 anos,0.0249,36.198654,1.692121e+08,Subiu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-9.47,-13.98,-13.98,-32.72,10.70,11.08,...,-1.436355e+08,Desceu,Carrefour Brasil,Varejo,48,Menos de 50 anos,-0.0947,11.830332,-5.982470e+08,Desceu
77,BHIA3,2024-01-26,8.70,-2.46,-6.95,-23.55,-23.55,-85.74,8.67,8.95,...,-2.081024e+07,Desceu,Casas Bahia,Varejo,64,Entre 50 e 100 anos,-0.0695,9.349812,-6.163014e+07,Desceu
78,RENT3,2024-01-26,56.24,-3.63,-6.41,-11.57,-11.57,-2.77,56.04,58.90,...,-1.807433e+09,Desceu,Localiza,Aluguel de Carros,50,Entre 50 e 100 anos,-0.0641,60.091890,-3.286442e+09,Desceu
79,CVCB3,2024-01-26,3.07,-4.36,-5.54,-12.29,-12.29,-36.83,3.05,3.23,...,-7.355741e+07,Desceu,CVC,Turismo,49,Menos de 50 anos,-0.0554,3.250053,-9.463272e+07,Desceu
80,GOLL4,2024-01-26,5.92,-8.07,-15.91,-34.00,-34.00,-25.44,5.51,6.02,...,-1.029932e+08,Desceu,GOL,Transporte Aéreo,20,Menos de 50 anos,-0.1591,7.040076,-2.219822e+08,Desceu

In [3]:
df_total_de_acoes = pd.read_excel('acoes.xlsx',sheet_name='Total_de_acoes')
df_total_de_acoes

                      Código  Qtde. Teórica
0                      RRRP3   2.356656e+08
1                      ALOS3   5.326166e+08
2                      ALPA4   1.767340e+08
3                      ABEV3   4.394246e+09
4                      ARZZ3   6.230589e+07
..                       ...            ...
84                     VBBR3   1.114413e+09
85                     WEGE3   1.481593e+09
86                     YDUQ3   2.893479e+08
87  Quantidade Teórica Total   9.637210e+10
88                   Redutor   1.704785e+07

[89 rows x 2 columns]

In [4]:
df_analises = pd.read_excel('acoes.xlsx',sheet_name='Análises')
df_analises

                       Maior    4762926995.24809              Unnamed: 2
0                      Menor  -1807432634.459543                     NaN
1                      Média     165190210.47934                     NaN
2        Média de quem subiu    448164250.230498                     NaN
3       Média de quem desceu   -181109141.751867                     NaN
4                        NaN                 NaN                     NaN
5                        NaN                 NaN                     NaN
6                        NaN                 NaN                     NaN
7                        NaN                 NaN                     NaN
8                   Segmento            Variação  Variação de quem subiu
9                 Siderurgia    489935930.928323        489935930.928323
10                 Mineração   4940442965.550434       4940442965.550434
11                  Petróleo   6093288832.262836       6093288832.262836
12          Papel e Celulose    722946282.709038        722946282.709038
13                   Energia    -20439929.552336        821116399.611279
14          Shopping Centers    117732680.078425        117732680.078425
15      Serviços Financeiros   2605851498.609887       3784169702.158992
16                     Saúde     60321469.882997         453917907.01324
17              Petroquímica     69054317.636039         69054317.636039
18          Transporte Aéreo    -37540997.063643           65452205.5528
19                  Educação     17822320.131763         72295838.986161
20                   Química    388705223.956018        388705223.956018
21          Construção Civil    -61087401.606068         37525872.377284
22                  Calçados     19895417.765127         41021792.090772
23                 Alimentos     407833683.09245         407833683.09245
24        Varejo Alimentício      6340916.223144          6340916.223144
25          Telecomunicações    292938114.423578        292938114.423578
26                 Logística    233902674.792574        233902674.792574
27                Tecnologia     24135955.514564         33667333.260539
28                   Holding    416092244.423763        416092244.423763
29       Varejo Farmacêutico    202352473.739829        202352473.739829
30                    Varejo   -800329983.839483         28493619.274395
31                   Bebidas                   0                       0
32         Saneamento Básico    -15725678.564115                       0
33    Equipamentos Elétricos   -118230410.439646                       0
34               Agronegócio    -88901449.421455                       0
35            Infraestrutura    -39743554.314915                       0
36                   Seguros    -21765343.021314                       0
37                Varejo Pet     -9242203.652013                       0
38              Aeroespacial   -233651943.496958                       0
39                Cosméticos   -193280001.208495                       0
40              Farmacêutico    -208257014.19915                       0
41         Aluguel de Carros  -1807432634.459543                       0
42                   Turismo    -73557408.055094                       0
43                       NaN                 NaN                     NaN
44                       NaN                 NaN                     NaN
45                       NaN                 NaN                     NaN
46                       NaN                 NaN                     NaN
47                       NaN                 NaN                     NaN
48                 Resultado          Variação $                     NaN
49                     Subiu  19719227010.141911                     NaN
50                   Estável                   0                     NaN
51                    Desceu  -6338819961.315349                     NaN
52                     Saldo  13380407048.826561                     NaN
53                       NaN                 NaN                     NaN
54                       NaN                 NaN                     NaN
55                       NaN                 NaN                     NaN
56  Análise por faixa etária          Variação $  Quantidade de empresas
57       Entre 50 e 100 anos   9556228369.675333                      30
58          Menos de 50 anos   4026586989.013414                      44
59          Mais de 100 anos   -202408309.862189                       7

In [5]:
df_chatgpt = pd.read_excel('acoes.xlsx',sheet_name='ChatGPT')
df_chatgpt

     Nome da Empresa           Segmento  Idade (em anos)
0           Usiminas         Siderurgia               64
1      CSN Mineração          Mineração               10
2          Petrobras           Petróleo               68
3             Suzano   Papel e Celulose               97
4       CPFL Energia            Energia              108
..               ...                ...              ...
73  Carrefour Brasil             Varejo               48
74       Casas Bahia             Varejo               64
75          Localiza  Aluguel de Carros               50
76               CVC            Turismo               49
77               GOL   Transporte Aéreo               20

[78 rows x 3 columns]

In [6]:
df_ticker = pd.read_excel('acoes.xlsx',sheet_name='Ticker')
df_ticker

    Ticker            Nome
0    MGLU3  Magazine Luiza
1    HAPV3         Hapvida
2    PETR4       Petrobras
3    B3SA3              B3
4    USIM5        Usiminas
..     ...             ...
530  TKNO3           Tekno
531  COCE6          Coelce
532  MGEL3         Mangels
533  CTSA8      Santanense
534  MMAQ4   Minasmáquinas

[535 rows x 2 columns]

In [7]:
df_principal = df_principal[['Ativo', 'Data', 'Último (R$)', 'Var. Dia (%)']].copy()
df_principal

    Ativo       Data  Último (R$)  Var. Dia (%)
0   USIM5 2024-01-26         9.50          5.20
1   CMIN3 2024-01-26         6.82          2.40
2   PETR3 2024-01-26        41.96          2.19
3   SUZB3 2024-01-26        52.91          2.04
4   CPFE3 2024-01-26        37.10          2.03
..    ...        ...          ...           ...
76  CRFB3 2024-01-26        10.71         -2.45
77  BHIA3 2024-01-26         8.70         -2.46
78  RENT3 2024-01-26        56.24         -3.63
79  CVCB3 2024-01-26         3.07         -4.36
80  GOLL4 2024-01-26         5.92         -8.07

[81 rows x 4 columns]

In [8]:
df_principal = df_principal.rename(columns={'Último (R$)':'valor_final','Var. Dia (%)':'var_dia_pct'}).copy()
df_principal

    Ativo       Data  valor_final  var_dia_pct
0   USIM5 2024-01-26         9.50         5.20
1   CMIN3 2024-01-26         6.82         2.40
2   PETR3 2024-01-26        41.96         2.19
3   SUZB3 2024-01-26        52.91         2.04
4   CPFE3 2024-01-26        37.10         2.03
..    ...        ...          ...          ...
76  CRFB3 2024-01-26        10.71        -2.45
77  BHIA3 2024-01-26         8.70        -2.46
78  RENT3 2024-01-26        56.24        -3.63
79  CVCB3 2024-01-26         3.07        -4.36
80  GOLL4 2024-01-26         5.92        -8.07

[81 rows x 4 columns]

In [9]:
df_principal['Var_pct'] = df_principal['var_dia_pct'] / 100
df_principal['Valor_inicial'] = df_principal['valor_final'] / (df_principal['Var_pct'] + 1)
df_principal

    Ativo       Data  valor_final  var_dia_pct  Var_pct  Valor_inicial
0   USIM5 2024-01-26         9.50         5.20   0.0520       9.030418
1   CMIN3 2024-01-26         6.82         2.40   0.0240       6.660156
2   PETR3 2024-01-26        41.96         2.19   0.0219      41.060769
3   SUZB3 2024-01-26        52.91         2.04   0.0204      51.852215
4   CPFE3 2024-01-26        37.10         2.03   0.0203      36.361854
..    ...        ...          ...          ...      ...            ...
76  CRFB3 2024-01-26        10.71        -2.45  -0.0245      10.978985
77  BHIA3 2024-01-26         8.70        -2.46  -0.0246       8.919418
78  RENT3 2024-01-26        56.24        -3.63  -0.0363      58.358410
79  CVCB3 2024-01-26         3.07        -4.36  -0.0436       3.209954
80  GOLL4 2024-01-26         5.92        -8.07  -0.0807       6.439682

[81 rows x 6 columns]

In [10]:
df_principal = df_principal.merge(df_total_de_acoes, left_on = 'Ativo', right_on = 'Código', how = 'left')
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,Valor_inicial,Código,Qtde. Teórica
0,USIM5,2024-01-26,9.50,5.20,0.0520,9.030418,USIM5,5.151174e+08
1,CMIN3,2024-01-26,6.82,2.40,0.0240,6.660156,CMIN3,1.110559e+09
2,PETR3,2024-01-26,41.96,2.19,0.0219,41.060769,PETR3,2.379878e+09
3,SUZB3,2024-01-26,52.91,2.04,0.0204,51.852215,SUZB3,6.834528e+08
4,CPFE3,2024-01-26,37.10,2.03,0.0203,36.361854,CPFE3,1.877325e+08
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.0245,10.978985,CRFB3,5.339906e+08
77,BHIA3,2024-01-26,8.70,-2.46,-0.0246,8.919418,BHIA3,9.484305e+07
78,RENT3,2024-01-26,56.24,-3.63,-0.0363,58.358410,RENT3,8.532023e+08
79,CVCB3,2024-01-26,3.07,-4.36,-0.0436,3.209954,CVCB3,5.255828e+08
80,GOLL4,2024-01-26,5.92,-8.07,-0.0807,6.439682,GOLL4,1.981849e+08

In [11]:
df_principal = df_principal.drop(columns=['Código'])
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,Valor_inicial,Qtde. Teórica
0,USIM5,2024-01-26,9.50,5.20,0.0520,9.030418,5.151174e+08
1,CMIN3,2024-01-26,6.82,2.40,0.0240,6.660156,1.110559e+09
2,PETR3,2024-01-26,41.96,2.19,0.0219,41.060769,2.379878e+09
3,SUZB3,2024-01-26,52.91,2.04,0.0204,51.852215,6.834528e+08
4,CPFE3,2024-01-26,37.10,2.03,0.0203,36.361854,1.877325e+08
...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.0245,10.978985,5.339906e+08
77,BHIA3,2024-01-26,8.70,-2.46,-0.0246,8.919418,9.484305e+07
78,RENT3,2024-01-26,56.24,-3.63,-0.0363,58.358410,8.532023e+08
79,CVCB3,2024-01-26,3.07,-4.36,-0.0436,3.209954,5.255828e+08
80,GOLL4,2024-01-26,5.92,-8.07,-0.0807,6.439682,1.981849e+08

In [12]:
df_principal['Variacao_rs'] = (df_principal['valor_final'] - df_principal['Valor_inicial']) * df_principal['Qtde. Teórica']
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,Valor_inicial,Qtde. Teórica,Variacao_rs
0,USIM5,2024-01-26,9.50,5.20,0.0520,9.030418,5.151174e+08,2.418897e+08
1,CMIN3,2024-01-26,6.82,2.40,0.0240,6.660156,1.110559e+09,1.775160e+08
2,PETR3,2024-01-26,41.96,2.19,0.0219,41.060769,2.379878e+09,2.140059e+09
3,SUZB3,2024-01-26,52.91,2.04,0.0204,51.852215,6.834528e+08,7.229463e+08
4,CPFE3,2024-01-26,37.10,2.03,0.0203,36.361854,1.877325e+08,1.385740e+08
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.0245,10.978985,5.339906e+08,-1.436355e+08
77,BHIA3,2024-01-26,8.70,-2.46,-0.0246,8.919418,9.484305e+07,-2.081024e+07
78,RENT3,2024-01-26,56.24,-3.63,-0.0363,58.358410,8.532023e+08,-1.807433e+09
79,CVCB3,2024-01-26,3.07,-4.36,-0.0436,3.209954,5.255828e+08,-7.355741e+07
80,GOLL4,2024-01-26,5.92,-8.07,-0.0807,6.439682,1.981849e+08,-1.029932e+08

In [13]:
pd.options.display.float_format = '{:.2f}'.format
df_principal['Qtde. Teórica'] = df_principal['Qtde. Teórica'].astype(int)

In [14]:
df_principal = df_principal.rename(columns={'Qtde. Teórica':'qtde_teorica'}).copy()
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,Valor_inicial,qtde_teorica,Variacao_rs
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62

In [15]:
df_principal['Resultado'] = df_principal['Variacao_rs'].apply(lambda x: 'Subiu' if x > 0 else ('Desceu' if x < 0 else 'Estável'))
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,Valor_inicial,qtde_teorica,Variacao_rs,Resultado
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu
...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu

In [16]:
df_principal = df_principal.merge(df_ticker, left_on = 'Ativo', right_on = 'Ticker', how = 'left')
df_principal = df_principal.drop(columns=['Ticker'])
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,Valor_inicial,qtde_teorica,Variacao_rs,Resultado,Nome
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu,CPFL Energia
...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu,Carrefour Brasil
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu,Localiza
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu,CVC
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL

In [17]:
df_principal = df_principal.merge(df_chatgpt, left_on = 'Nome', right_on = 'Nome da Empresa', how = 'left')
df_principal = df_principal.drop(columns=['Nome da Empresa'])
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,Valor_inicial,qtde_teorica,Variacao_rs,Resultado,Nome,Segmento,Idade (em anos)
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas,Siderurgia,64
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,10
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo,68
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano,Papel e Celulose,97
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu,CPFL Energia,Energia,108
...,...,...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu,Carrefour Brasil,Varejo,48
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia,Varejo,64
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu,Localiza,Aluguel de Carros,50
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu,CVC,Turismo,49
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL,Transporte Aéreo,20

In [18]:
df_principal = df_principal.rename(columns={'Idade (em anos)':'idade_anos'}).copy()
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,Valor_inicial,qtde_teorica,Variacao_rs,Resultado,Nome,Segmento,idade_anos
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas,Siderurgia,64
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,10
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo,68
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano,Papel e Celulose,97
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu,CPFL Energia,Energia,108
...,...,...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu,Carrefour Brasil,Varejo,48
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia,Varejo,64
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu,Localiza,Aluguel de Carros,50
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu,CVC,Turismo,49
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL,Transporte Aéreo,20

In [19]:
df_principal['cat_idade'] = df_principal['idade_anos'].apply(lambda x: 'Mais de 100 anos' if x > 100 else( 'Menos de 50 anos' if x < 50 else "Entre 50 e 100 anos"))
df_principal

,Ativo,Data,valor_final,var_dia_pct,Var_pct,Valor_inicial,qtde_teorica,Variacao_rs,Resultado,Nome,Segmento,idade_anos,cat_idade
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas,Siderurgia,64,Entre 50 e 100 anos
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,10,Menos de 50 anos
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo,68,Entre 50 e 100 anos
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano,Papel e Celulose,97,Entre 50 e 100 anos
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu,CPFL Energia,Energia,108,Mais de 100 anos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu,Carrefour Brasil,Varejo,48,Menos de 50 anos
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia,Varejo,64,Entre 50 e 100 anos
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu,Localiza,Aluguel de Carros,50,Entre 50 e 100 anos
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu,CVC,Turismo,49,Menos de 50 anos
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL,Transporte Aéreo,20,Menos de 50 anos

In [20]:
maior = df_principal['Variacao_rs'].max()
menor = df_principal['Variacao_rs'].min()
media = df_principal['Variacao_rs'].mean()
media_subiu = df_principal[df_principal['Resultado'] == 'Subiu']['Variacao_rs'].mean()
media_desceu = df_principal[df_principal['Resultado'] == 'Desceu']['Variacao_rs'].mean()

print(f'Maior:\tR${maior:,.2f}')
print(f'Menor:\tR${menor:,.2f}')
print(f'Média:\tR${media:,.2f}')
print(f'Média de quem subiu:\tR${media_subiu:,.2f}')
print(f'Média de quem desceu:\tR${media_desceu:,.2f}')

Maior:	R$4,762,926,995.25
Menor:	R$-1,807,432,634.46
Média:	R$165,190,210.48
Média de quem subiu:	R$448,164,250.23
Média de quem desceu:	R$-181,109,141.75

In [21]:
df_principal_subiu = df_principal[df_principal['Resultado'] == 'Subiu']
df_principal_subiu

,Ativo,Data,valor_final,var_dia_pct,Var_pct,Valor_inicial,qtde_teorica,Variacao_rs,Resultado,Nome,Segmento,idade_anos,cat_idade
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas,Siderurgia,64,Entre 50 e 100 anos
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,10,Menos de 50 anos
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo,68,Entre 50 e 100 anos
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano,Papel e Celulose,97,Entre 50 e 100 anos
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu,CPFL Energia,Energia,108,Mais de 100 anos
5,PRIO3,2024-01-26,45.69,1.98,0.02,44.80,800010734,709687498.18,Subiu,PetroRio,Petróleo,12,Menos de 50 anos
6,PETR4,2024-01-26,39.96,1.73,0.02,39.28,-2147483648,3103136291.22,Subiu,Petrobras,Petróleo,68,Entre 50 e 100 anos
7,VALE3,2024-01-26,69.50,1.66,0.02,68.37,-2147483648,4762926995.25,Subiu,Vale,Mineração,78,Entre 50 e 100 anos
8,MULT3,2024-01-26,28.19,1.58,0.02,27.75,268505432,117732680.08,Subiu,Multiplan,Shopping Centers,47,Menos de 50 anos
9,ITUB4,2024-01-26,32.81,1.48,0.01,32.33,-2147483648,2297591984.33,Subiu,Itaú Unibanco,Serviços Financeiros,13,Menos de 50 anos
10,RDOR3,2024-01-26,27.56,1.43,0.01,27.17,1168230366,453917907.01,Subiu,Rede D'Or,Saúde,47,Menos de 50 anos
11,BRKM5,2024-01-26,18.55,1.42,0.01,18.29,265877867,69054317.64,Subiu,Braskem,Petroquímica,49,Menos de 50 anos
12,AZUL4,2024-01-26,14.27,1.42,0.01,14.07,327593725,65452205.55,Subiu,Azul,Transporte Aéreo,14,Menos de 50 anos
13,RRRP3,2024-01-26,28.75,1.41,0.01,28.35,235665566,94204643.35,Subiu,3R Petroleum,Petróleo,6,Menos de 50 anos
14,EQTL3,2024-01-26,35.32,1.34,0.01,34.85,1095587251,511671895.45,Subiu,Equatorial Energia,Energia,24,Menos de 50 anos
15,CSNA3,2024-01-26,18.16,1.33,0.01,17.92,600865451,143220991.46,Subiu,Siderúrgica Nacional,Siderurgia,78,Entre 50 e 100 anos
16,YDUQ3,2024-01-26,19.77,1.28,0.01,19.52,289347914,72295838.99,Subiu,YDUQS,Educação,55,Entre 50 e 100 anos
17,UGPA3,2024-01-26,28.31,1.28,0.01,27.95,1086411192,388705223.96,Subiu,Ultrapar,Química,84,Entre 50 e 100 anos
18,MRVE3,2024-01-26,8.08,1.25,0.01,7.98,376187582,37525872.38,Subiu,MRV,Construção Civil,41,Menos de 50 anos
19,ARZZ3,2024-01-26,57.91,1.15,0.01,57.25,62305891,41021792.09,Subiu,Arezzo,Calçados,50,Entre 50 e 100 anos
20,BBDC4,2024-01-26,15.52,1.04,0.01,15.36,-2147483648,822148336.41,Subiu,Banco Bradesco,Serviços Financeiros,79,Entre 50 e 100 anos
21,BEEF3,2024-01-26,7.19,0.98,0.01,7.12,261036182,18214628.10,Subiu,Minerva,Alimentos,28,Menos de 50 anos
22,PCAR3,2024-01-26,4.14,0.97,0.01,4.10,159430826,6340916.22,Subiu,Grupo Pão de Açúcar,Varejo Alimentício,71,Entre 50 e 100 anos
23,BRFS3,2024-01-26,14.61,0.96,0.01,14.47,1677525446,233045769.57,Subiu,BRF,Alimentos,13,Menos de 50 anos
24,VIVT3,2024-01-26,51.20,0.88,0.01,50.75,423091712,188965307.06,Subiu,Vivo,Telecomunicações,23,Menos de 50 anos
25,RAIL3,2024-01-26,22.64,0.84,0.01,22.45,1218352541,229771333.63,Subiu,Rumo,Logística,6,Menos de 50 anos
26,CIEL3,2024-01-26,4.90,0.82,0.01,4.86,1095462329,43657683.38,Subiu,Cielo,Serviços Financeiros,12,Menos de 50 anos
27,DXCO3,2024-01-26,7.81,0.77,0.01,7.75,302768240,18068446.61,Subiu,Dexco,Tecnologia,5,Menos de 50 anos
28,TIMS3,2024-01-26,17.52,0.74,0.01,17.39,807896814,103972807.37,Subiu,TIM,Telecomunicações,26,Menos de 50 anos
29,BRAP4,2024-01-26,23.22,0.73,0.01,23.05,251003438,42238249.54,Subiu,Bradespar,Holding,20,Menos de 50 anos
30,LWSA3,2024-01-26,5.55,0.72,0.01,5.51,393173139,15598886.65,Subiu,Locaweb,Tecnologia,23,Menos de 50 anos
31,RECV3,2024-01-26,23.83,0.71,0.01,23.66,275005663,46201006.00,Subiu,PetroRecôncavo,Petróleo,8,Menos de 50 anos
32,ITSA4,2024-01-26,10.01,0.70,0.01,9.94,-2147483648,373853994.88,Subiu,Itaúsa,Holding,54,Entre 50 e 100 anos
33,BBAS3,2024-01-26,56.97,0.68,0.01,56.59,1420949112,546752087.99,Subiu,Banco do Brasil,Serviços Financeiros,212,Mais de 100 anos
34,RADL3,2024-01-26,26.16,0.61,0.01,26.00,1275798515,202352473.74,Subiu,RaiaDrogasil,Varejo Farmacêutico,118,Mais de 100 anos
35,GOAU4,2024-01-26,10.08,0.59,0.01,10.02,660411219,39045606.94,Subiu,Metalúrgica Gerdau,Siderurgia,120,Mais de 100 anos
36,CSAN3,2024-01-26,18.57,0.59,0.01,18.46,1168097881,127229653.18,Subiu,Cosan,Energia,17,Menos de 50 anos
37,JBSS3,2024-01-26,24.34,0.57,0.01,24.20,1134986472,156573285.43,Subiu,JBS,Alimentos,68,Entre 50 e 100 anos
38,MGLU3,2024-01-26,2.08,0.48,0.00,2.07,-2147483648,28493619.27,Subiu,Magazine Luiza,Varejo,64,Entre 50 e 100 anos
39,BBDC3,2024-01-26,13.75,0.36,0.00,13.70,1500728902,74019610.05,Subiu,Banco Bradesco,Serviços Financeiros,79,Entre 50 e 100 anos
40,GGBR4,2024-01-26,21.84,0.27,0.00,21.78,1118525506,65779607.10,Subiu,Gerdau,Siderurgia,120,Mais de 100 anos
41,RAIZ4,2024-01-26,3.74,0.26,0.00,3.73,1193047233,11571106.42,Subiu,Raízen,Energia,9,Menos de 50 anos
42,CPLE6,2024-01-26,10.07,0.19,0.00,10.05,1679335290,32069789.50,Subiu,Copel,Energia,65,Entre 50 e 100 anos
43,VAMO3,2024-01-26,8.18,0.12,0.00,8.17,421383330,4131341.16,Subiu,Grupo Vamos,Logística,7,Menos de 50 anos

In [22]:
df_analise_segmento = df_principal_subiu.groupby('Segmento')['Variacao_rs'].sum().reset_index()
df_analise_segmento

                Segmento   Variacao_rs
0              Alimentos  407833683.09
1               Calçados   41021792.09
2       Construção Civil   37525872.38
3               Educação   72295838.99
4                Energia  821116399.61
5                Holding  416092244.42
6              Logística  233902674.79
7              Mineração 4940442965.55
8       Papel e Celulose  722946282.71
9           Petroquímica   69054317.64
10              Petróleo 6093288832.26
11               Química  388705223.96
12                 Saúde  453917907.01
13  Serviços Financeiros 3784169702.16
14      Shopping Centers  117732680.08
15            Siderurgia  489935930.93
16            Tecnologia   33667333.26
17      Telecomunicações  292938114.42
18      Transporte Aéreo   65452205.55
19                Varejo   28493619.27
20    Varejo Alimentício    6340916.22
21   Varejo Farmacêutico  202352473.74

In [23]:
df_analise_saldo = df_principal.groupby('Resultado')['Variacao_rs'].sum().reset_index()
df_analise_saldo

  Resultado    Variacao_rs
0    Desceu -6338819961.32
1   Estável           0.00
2     Subiu 19719227010.14

In [24]:
fig = px.bar(df_analise_saldo, x='Resultado', y='Variacao_rs', text='Variacao_rs', title='Variação em reais x Resultado')
fig.show()